/.mypy_cache
/ALLOVER
/ArjanGOD.py
/CtoFdb.py
/Datumsspass.txt
/Tag6_Loesungen.py
/__pycache__
/bereinigte_woerter.txt
/celsius_to_fahrenheit.py
/day2.py
/day2numpy.py
/day3.py
/day4.py
/day5.py
/exercise
/inputgame.csv
/inputgame.txt
/insertdata.py
/numpy_test.py
/python_bsp.py
/simon_d_1.25.txt
/tag1.py
/test.py
/testone.py
/timeKAPPA.py
/venvnew
/week2
/week3
/week4